<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img class="logo-one" src="../../assets/img/logo.png" alt="logo one" width="30%">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/auser">All Employee</a>
        </li>
        <li class="nav-item active">
          <!-- <a class="nav-link" href="https://attendance-system-265c6.web.app/create">Add Employee</a> -->
          <a class="nav-link" href="/cnewuser">Add Employee</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://attendance-system-265c6.web.app/sheet">Give Attendance</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://attendance-system-265c6.web.app/createnotice">Add Notice</a>
        </li>
        
        
          <li class="nav-item active">
            <a class="nav-link" href="/viewnotice">All Notice</a>
          </li>
         
          <li class="nav-item active">
            <a class="nav-link" href="/">Logout</a>
          </li>
          
          
          
      </ul>
    </div>
  </nav>
  <div class="jumbotron" style="background-color: black;">
<h1 style="color: grey;">Welcome to Admin Panel</h1>
<h5 style="color: blue;">Below There are some Useful link for future Reference</h5>
<a href="https://attendance-system-265c6.web.app/create" style="color: yellow;">Craete Attendance for employee or Student</a><br>
<a href="https://attendance-system-265c6.web.app/attendance" style="color: yellow;"> Check the Attendance </a><br>
<a href="https://attendance-system-265c6.web.app/createnotice" style="color: yellow;">Create the Notice</a><br>
<a href="https://attendance-system-265c6.web.app/viewnotice" style="color: yellow;">Check All notices</a><br>
<a href="/cnewuser" style="color: yellow;">Add Employee data </a><br>
  </div>
